@charset "utf-8";
/* CSS Document */
/*********************************************/
/*Header CSS*/

/*********************************************/
/*Body CSS*/
div#body{
	text-align: center;
	padding: 10px;
}

#body h1 {
	font-family: 'Anton', sans-serif;
}

#body p{
	font-family: 'Raleway', sans-serif;
	color: #010072;
}
/*********************************************/