@charset "utf-8";
/* CSS Document */
/*Background and width setting*/
body {
	background-image: url(../Images/BG.jpg);
	background-attachment: fixed;
	width: 100%;
	margin: 0;
	padding: 0;
}

/*********************************************/
/*Size of body*/
#bodywrapper {
	margin: 0 auto;
	width: 80%;
	min-width: 50em;
	max-width: 65em;
}

/*********************************************/
/*Navigation bar css*/
table#navigationbar {
	background-color: #FFEEA7;
	color: #FF9D21;
	height: 35px;
	width: 100%;
	min-width: 50em;
}

td.navigationtab {
	font-family: Arial;
	font-size: 15px;
	width: 10%;
	text-align: center;
}

td.navigationtab a, td.navigationtab a:visited {
	padding: 8px;
	margin: -2px;
	display: block;
	text-decoration: none;
	color: #FF9D21;
}

td.navigationtab a:hover {
	background-color: #FF9D21;
	color: #FFEEA7;
	font-weight: bold;
}

/*********************************************/
/*Navigation bar below banner CSS*/
#flownavigation {
	padding: 4px 0 3px 10px;
	height: 30px;
	background-color: #D5C8B3;
	color: #FFF;
	font-family: "Comic Sans MS", cursive;
	font-size: 20px;
}

#flownavigation a {
	text-decoration: none;
	color: #FFF;	
}

/*********************************************/
/*Header CSS*/
#header {
	background-image: url(../Images/banner.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 0 20px;
	height: 28vw;
	min-height: 18em;
}

#header div, #header img {
	display: block;
	width: 20vw;
	min-width: 200px;
	height: auto;
}

/*********************************************/
/*Body CSS*/
div#body{
	text-align: center;
	background-color: #FFF;
	margin: 0;
	padding: 20px 0 30px 0;
}

/*********************************************/
#body h1 {
	font-family: 'Anton', sans-serif;
}

#body p{
	font-family: 'Raleway', sans-serif;
	color: #010072;
}

#category img{
	padding:20px;
	width:400px;
}

/*********************************************/
/*Footer CSS*/
#footer {
	height: 15em;
	padding: 10px 50px;
	overflow: hidden;
	background-color: #E0D1ED;
}

#footer div.footbox {
	display: inline-block;
	color: #FFF;
	font-family: "Comic Sans MS", cursive;
	padding: 10px 10px 0 10px;
}

div.footbox hr {
	border: none;
	height: 1px;
	margin: 0;
	background-color: #FFF;
}

div.footbox h1 {
	text-align: center;
	font-size: 18px;
}

div.footbox p, div.footbox p a, div.footbox p a:visited{
	font-size: 14px;
	text-decoration: none;
	color: #FFF;
}

#footbox1 {
	margin-right: 20px;
	float: left;
}

#footbox3 {
	float: right;
}

.socialicon {
	margin-top: 10px;
	border-radius: 7px;
	height: auto;
	width: 35px;
}

/*********************************************/