@charset "utf-8";
/* CSS Document */
/*Background and width setting*/
body {
	background-image: url(../Images/BG.jpg);
	background-attachment: fixed;
	width: 100%;
	margin: 0;
	padding: 0;
}

/*********************************************/
/*Size of body*/
#bodywrapper {
	margin: 34px auto 0 auto;
	width: 80%;
	min-width: 50em;
	max-width: 90em;
}

/*********************************************/
/*Navigation bar css*/
table#navigationbar {
	position: fixed;
	top: 0;
	z-index: 5;
	background-color: #FFEEA7;
	color: #FF9D21;
	width: 100%;
	min-width: 50em;
}

td.navigationtab {
	font-family: Arial;
	font-size: 18px;
	width: 10%;
	text-align: center;
}

td.navigationtab a, td.navigationtab a:visited {
	padding: 8px;
	margin: -2px;
	display: block;
	text-decoration: none;
	color: #FF9D21;
}

td.navigationtab a:hover {
	color: #FB3600;
	border-bottom: #FB3600 3px solid;
	transition: color: 1s, border-bottom 1s;
}

td.navigationtab a:active {
	color: #FB3600;
	border-bottom: #FB3600 3px solid;
}

td.searchbox {
	float: right;
	display: inline-block;
}

.searchtextinput {
	padding: 10px 5px;
	margin: 2px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	border: none;
	background: rgba(255,255,255,.30)
}

.searchtextinput:focus {
	outline: none;
	background-color: #FFFFFF;
	transition: background-color 0.3s;
}

.searchbutton {
	margin: 2px 0;
	padding: 10px 5px;
	outline: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: none;
	background: #FFB872;
}

.searchbutton:hover {
	text-decoration: none;
	background: #FDAA4C;
	transition: background 0.5s;
}

/*********************************************/
/*Navigation bar below banner CSS*/
#flownavigation {
	padding: 4px 0 3px 10px;
	height: 30px;
	background-color: #D5C8B3;
	color: #FFF;
	font-family: "Comic Sans MS", cursive;
	font-size: 20px;
}

#flownavigation a {
	text-decoration: none;
	color: #FFF;	
}

/*********************************************/
/*Header CSS*/
#header {
	background-image: url(../Images/banner.png);
}

#cafeheader {
	background-image: url(../Images/cafeBanner.jpg);
}

#eventheader {
	background-image: url(../Images/eventsBanner.jpg);
}

#header, #cafeheader, #eventheader {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 0 20px;
	height: 28vw;
	min-height: 18em;
	max-height: 33em;
}

#headerlogo img{
	display: block;
	width: 20vw;
	min-width: 200px;
	max-width: 350px;
	height: auto;
}

#headertitle img{
	margin: 0 0 0 10px;
	display: inline-block;
	height: 8vh;
	width: auto;
	min-height: 50px;
	max-height: 100px;
}

/*********************************************/
/*Body CSS*/
div#body{
	text-align: center;
	background-color: #FFF;
	margin: 0;
	padding: 20px 0 30px 0;
}

/*********************************************/
#body h1 {
	font-family: 'Anton', sans-serif;
}

#body p{
	font-family: 'Raleway', sans-serif;
	color: #010072;
}

.productimage {
	margin: 5px;
	width: 250px;
	height: 283px;
	display: inline-block;
}

.productimage img{
	width: 100%;
	height: 100%;
}

.productimage img:hover{
	transition: box-shadow 0.3s;
	box-shadow: 0 0 5px 3px #888888;
}

#category img{
	margin: 20px;
	width: 400px;
}

#category img:hover {
	transition: box-shadow 0.3s;
	box-shadow: 0 0 8px 5px #888888;	
}

#grandopening{
	font-family: 'Pacifico', cursive;
	font-size: 54px;
	color: #F36;
}

#date{
	font-family: 'Pacifico', cursive;
	font-size: 36px;
	color: #FC3;
}
/*********************************************/
/*Footer CSS*/
#footer {
	height: 13em;
	padding: 10px 30px;
	overflow: hidden;
	background-color: #E0D1ED;
}

#footer div.footbox {
	width: 13em;
	display: inline-block;
	color: #000;
	font-family: "Comic Sans MS", cursive;
	padding: 10px 10px 0 10px;
}

div.footbox hr {
	border: none;
	height: 1px;
	margin: 0;
	background-color: #000;
}

div.footbox h1 {
	text-align: center;
	font-size: 18px;
}

div.footbox p, div.footbox p a, div.footbox p a:visited{
	font-size: 14px;
	text-decoration: none;
	color: #000;
}

#footbox1 {
	margin-right: 20px;
	float: left;
}

#footbox3 {
	float: right;
}

.socialicon {
	display: inline-block;
	border-radius: 7px;
	margin: 0;
	width: 35px;
}

/*********************************************/#event_table {
	color: #FFF;
	background-color: #000;
}
.event_table {
	color: #FFF;
}
