@charset "utf-8";
/* CSS Document */
body {
	background-image: url(../Images/BG.jpg);
	background-attachment: fixed;
	width: 100%;
	margin: 0;
	padding: 0;
}

/*********************************************/
/*Size of body*/
#bodywrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 65em;
	min-width: 30em;
}

/*********************************************/
/*Navigation bar css*/
table#navigationbar {
	background-color: #FFEEA7;
	color: #FF9D21;
	height: 35px;
	width: 100%;
}

td.navigationtab {
	width: 10%;
	text-align: center;
}

td.navigationtab a, td.navigationtab a:visited {
	display: block;
	height: 100%;
	padding-top: 7px;
	text-decoration: none;
	color: #FF9D21;
}

td.navigationtab a:hover {
	background-color: #FF9D21;
	color: #FFEEA7;
}
/*********************************************/
/*Banner css*/
#banner {
	height: 40vw;
	min-height: 12.3em;
}

ul#carouselwrapper {
	height: 40vw;
	min-height: 12.3em;
	padding: 0;
	margin: 0;
}

li.carouselimg {
	height: inherit;
	min-height: 12.3em;
	list-style-type: none;
	position: relative;
	z-index: -1;
	opacity: 1;
}

li.carouselimg img {
	width: 100%;
	height: 100%;
}

#banner1 {
	z-index: 1;
}

#banner2 {
	top: -40vw;
}

#banner3 {
	top: -80vw;
}

.carouselselector {
	position: relative;
	z-index: 2;
	cursor: pointer;
	right: -76vw;
	top: -20px;
}

#previousarrow, #nextarrow {
	z-index: 2;
	cursor: pointer;
	position: absolute;
}

#previousarrow {
	left: 2vw;
	top: 20vw;
}

#nextarrow {
	right: 2vw;
	top: 20vw;
}
/*********************************************/
/*Footer CSS*/
#footer {
	padding: 10px 50px;
	overflow: hidden;
	background-color: #E0D1ED;
}

#footer div.footbox {
	display: inline-block;
	color: #FFF;
	font-family: "Comic Sans MS", cursive;
	padding: 10px 10px 0 10px;
}

div.footbox hr {
	border: none;
	height: 1px;
	margin: 0;
	background-color: #FFF;
}

div.footbox h1 {
	text-align: center;
	font-size: 18px;
}

div.footbox p, div.footbox p a, div.footbox p a:visited{
	font-size: 14px;
	text-decoration: none;
	color: #FFF;
}

#footbox1 {
	margin-right: 20px;
	float: left;
}

#footbox3 {
	float: right;
}

.socialicon {
	margin-top: 10px;
	border-radius: 7px;
	height: auto;
	width: 35px;
}
/*********************************************/
