@charset "utf-8";
/* CSS Document */
/*********************************************************/
/*Content CSS*/
/*Main product container*/
#mainproduct {
	display: inline-block;
	margin: 10px 50px 10px 5%;
}

#productdetails {
	display: inline-block;
	vertical-align: top;
	margin: 70px 0 0 0;
	width: 40%;
}

#productname {
	margin-bottom: 10px;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 30px;
	color: #8DE10F;
}

#productdescription {
	width: 70%;
	color: #069;
	display: inline-block;
}

.cartimg {
	display: inline-block;
	vertical-align: top;
}

/*Related products container*/
#relatedproductstitle {
	display: block;
	margin: 10px 80px;
	width: 270px;
	height: auto;
	padding: 10px 0;
}

ul {
	margin: 0;
}

.relatedimg {
	display: inline-block;
	list-style-type: none;
}

/*********************************************************/