@charset "utf-8";
/* CSS Document */
/*********************************************************/
/*Content CSS*/
/*Main product container*/
#mainproductwrapper {
	margin: 0;
	padding: 20px 0;	
	overflow: hidden;
}

#mainproduct {
	width: 50%;
	height: 40vw;
	min-height: 25em;
	max-height: 30em;
	float: left;
}

#mainproduct img {
	float: right;
	width: auto;
	height: 100%;
}

#productdetails {
	width: 45%;
	float: right;
}

#productname {
	font-weight: normal;
	margin: 0 0 10px 0;
	padding-left: 20px;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 30px;
	color: #8DE10F;
	text-align: left;
}

#productdescription {
	position: relative;
	font-family: 'Raleway', sans-serif;
	text-align: left;
	width: 17em;
	padding-left: 20px;
	color: #069;
}

#productdescription ul {	
	padding: 5px 0;
}

#productdescription li {
	margin: 5px 0;	
}

.cartimg {
	position: relative;
	left: -100px;
	float: right;
}

#othercolorsbox {
	position: relative;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 25px;
	color: #8DE10F;
	padding: 5px 0 5px 20px;
	text-align: left;
}

.clothescolor {
	cursor: pointer;
	margin: 5px;
}

.clothescolor:hover {
	transition: box-shadow 0.3s;
	box-shadow: 0 0 3px 2px #888888;
}

#productadd {
	position: absolute;
	padding-left: 20px;
	padding-top: 10px;
}

select#productsize, select#productquantity {
	border-radius: 5px;
	border: none;
	background-color: #F0EFEF;
	height: 40px;
	margin: 0 10px 0 0;
	width: 7em;
	padding-left: 5px;
	text-align: center;
}

#totalprice {
	margin-top: 10px;
	text-align: left;
	color: #069;
	font-family: 'Raleway', sans-serif;

}

/*Related products container*/
#relatedproducts {
	padding: 20px 0;	
}

#relatedproductstitle {
	display: block;
	margin: 10px 80px;
	width: 270px;
	height: auto;
	padding: 10px 0;
}

ul#relatedproductslist {
	padding: 0;
	margin: 0 80px;
	overflow: hidden;
}

li.relatedimg {
	margin: 0 5px;
	display: inline-block;
	list-style-type: none;
}

li.relatedimg:hover {
	transition: box-shadow 0.3s;
	box-shadow: 0 0 5px 3px #888888;
}
/*********************************************************/