@charset "utf-8";
/* CSS Document */
/*Background and width setting*/
body {
	background-image: url(../Images/BG.jpg);
	background-attachment: fixed;
	width: 100%;
	margin: 0;
	padding: 0;
}

/*********************************************************/
/*Styles for the main containers*/
#navigationbar { /*Wraps navigation bar at the top*/
	height: 30px;
	top: 0;
	background-color: #FFD8B0;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

#flownavigation { /*Wraps navigation bar below banner*/
	padding: 2px 0 3px 10px;
	height: 30px;
	background-color: #D5C8B3;
	color: #FFF;
	font-family: "Comic Sans MS", cursive;
	font-size: 24px;
}

#flownavigation a {
	text-decoration: none;
	color: #FFF;	
}

#bodywrapper { /*Wraps main body from banner to footer to give size*/
	margin: 30px auto 0 auto;
	width: 60%;
	min-width: 50em;
	max-width: ;
}

#body { /*Wraps main content in body*/
	background-color: #FFF;
	min-height: 70em;
	margin: 0;
}

#footer { /*Wraps footer*/
	padding: 10px 50px;
	height: 8em;
	background-color: #E0D1ED;
}
/*********************************************************/
/*Header CSS*/
#header {
	overflow: auto;
	background-image: url(../Images/bannerbg.gif);
	background-attachment: local;
}
/*********************************************************/
/*Footer CSS*/
#footbox1, #footbox2, #footbox3 {
	display: inline-block;
	color: #FFF;
	font-size: 20px;
	font-family: "Comic Sans MS", cursive;
	padding: 10px 10px 0 10px;
	text-align: center;
}

#footbox1 {
	margin-right: 20px;
	float: left;
}

#footbox3 {
	float: right;
}

.socialicon {
	margin-top: 10px;
	border-radius: 7px;
	height: auto;
	width: 35px;
}
/*********************************************************/